<h1>Products</h1>
<%= link_to "Login", new_session_path unless authenticated? %>

<%= link_to "New product", new_product_path if authenticated? %>

<div id="products">
  <% @products.each do |product| %>
    <%= link_to product.name, product %>
  <% end %>
</div>
